.task-item {
    position: relative; 
  }
  
  .delete-button {
    display: none;
    position: absolute; 
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    background: transparent;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 20px;
  }
  
  .task-item:hover .delete-button {
    display: inline; 
  }